# Here is a way to add an add friend link to a list of users.
# I'd recommend adding an unless or if statement to filter current_user and already requested friends.
<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.name %>
            <% if not user == current_user || current_user.friends.include?(user) %>
              
              <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
            <% end %>
        </li>
    <% end %>
</ul>

# Here is a list of your pending requests

<ul>
    <% current_user.received_friendships.pending.each do |request| %>
    <li>
      <%= request.user.name %>
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put", data: { confirm: "Successfully confirmed friend!" } %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, data: { confirm: "Sorry! Could not confirm friend!"} %>
    </li>
  <% end %>
</ul>