<head>
<style>
#connection {
  width: 600px;
}
</style>
</head>
<body>
<center><img id="connection" src="/assets/connection" alt="..."></center>
<div class= "box">
<h4><%=current_user.name%>님 근처의 사람들입니다</h4>
<ul>
    <% @users.each do |user| %>
        <li>
            <%= user.name %>
            <% if not user == current_user || current_user.friends.include?(user) %>
              
              <%= link_to "Add Friend", friendships_path(friend_id: user), method: :post %>
            <% end %>
        </li>
    <% end %>
</ul><br><br>

<h4><%=current_user.name%>님에 대한 친구요청입니다</h4>

<ul>
    <% current_user.received_friendships.pending.each do |request| %>
    <li>
      <%= request.user.name %>
      <%= link_to "Accept",  friendship_path(id: request.id), method: "put", data: { confirm: "Successfully confirmed friend!" } %>
      <%= link_to "Decline", friendship_path(id: request.id), method: :delete, data: { confirm: "Sorry! Could not confirm friend!"} %>
    </li>
  <% end %>
</ul>
</div>